* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #232136;
}
.page-title {
  height: fit-content;
  width: fit-content;
  margin: auto;
  border-bottom: 2px solid #e0def4;
  font-size: 36px;
  padding: 30px 40px;
  margin-bottom: 60px;
  font-family: monospace;
  font-weight: bold;
  color: #e0def4;
}
.container {
  /* to center the container (you cannot center a div using margin without specifying height and width)*/
  height: fit-content;
  width: fit-content;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(6, 50px);
  row-gap: 14px;
  column-gap: 14px;
  justify-items: stretch;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0def4;
  font-size: 32px;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  color: #e0def4;
  background-color: #747474;
  /* background-color: rgb(190, 190, 43); */
}

/* .cell:nth-child(-1n + 5) {
  background-color: pink;
} */
